*{
    margin : 0;
    padding : 0;
}

.fullbody{
        background-image : linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)), url(PIC1.jpg);
        height: 100vh;
        background-size: cover;
        background-position: center center;
        position: relative;
        
                
}



.div1{
    text-align: center;
    color: beige;
    width: 1200px;
    margin: auto;
    padding-top: 5%;
    
}

.menu{
    float: right;
    list-style: none;
    margin-top: 30px;
}  

.menu li{
    display: inline-block;
}  

.menu li a{
    color: beige;
    text-decoration: none;
    padding: 5px 20px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;

}

.menu li a:hover{
    background: rgb(255, 255, 255);
    color: #333;
}

img{
    border-radius: 50%;
}



.div2{
    text-align: center;
    color: beige;
}

.div3{
    text-align: center;
    color: beige;
}

.div4{
    text-align: center;
    color: beige;
}

.div5{
    text-align: center;
    color: beige;
}

.div6{
    text-align: center;
    color: beige;
    float: left;
}

.div7{
    text-align: center;
    color: beige;
    float: left;
}

.div8{
    text-align: center;
    color: beige;
    float: left;
}

.board{
    text-align: center;
    margin-left: 350px;
    margin-right: 350px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 3%;
}
.marketers{
    text-align: center;
    margin-left: 350px;
    margin-right: 350px;
    display: flex;
    justify-content: space-between;
    margin-top: 3%;
       
}

hr{
    border-style: none;
    border-top-style: dotted;
    border: width 10px;
    border-color: beige;
    width: 6%;
    background-color: none;
    margin-left: 47%;
    /* margin-top: 3%; */
    margin-bottom: 3%;
}

.hr2{
    border-style: none;
    border-top-style: dotted;
    border: width 10px;
    border-color: beige;
    width: 8%;
    background-color: none;
    margin-left: 46%;
    /* margin-top: 3%; */
    margin-bottom: 3%;
}